/* Below 944px (Tablets and phones) */
@media (max-width: 59em) {
  body {
    height: auto;
    padding: 5rem 0rem;
    font-size: 1.5rem;
  }

  .container {
    height: auto;
    width: 300px;
    border-radius: 1rem;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
  }

  .card {
    padding: 4rem 4.5rem;
    width: 100%;
    height: 400px;
    position: relative;
  }
}
