/* GENERAL SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  background-color: hsl(0, 0%, 95%);
}

/* LAYOUT */

body {
  height: 100vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* CARD */

.card-sedan {
  background-color: hsl(31, 77%, 52%);
}

.card-suv {
  background-color: hsl(184, 100%, 22%);
}

.card-luxury {
  background-color: hsl(179, 100%, 13%);
}

.card {
  padding: 2.5rem 2rem;
}

.car-icon {
  width: 6rem;
}

.car-category {
  color: hsl(0, 0%, 95%);
}

.car-description {
  color: hsla(0, 0%, 100%, 0.75);
}

.car-category {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}

.btn-learn-more:link,
.btn-learn-more:visited {
  background-color: hsl(0, 0%, 95%);
}

.btn-learn-more:active,
.btn-learn-more:hover {
}
